.custom-button {
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 0.9375rem;
  font-size: 1.25rem;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}