.receipt{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;

    &-text{
        margin: auto 0;

        .receipt-title{
            margin-bottom: 0;
            color: hsl(0, 0%, 100%);
            font-weight: 700;    
        }

        span{
             color: hsl(186, 14%, 43%);
             font-size: small;
             font-weight: 700;
        }
    }

    &-amount{
        margin: auto 0;
        color: hsl(172, 67%, 45%);

        p{
           font-weight: 700; 
           margin: 0;
           font-size: 2rem;
        }
    }
}


